body {
  font-family: "Raleway", sans-serif;
}

.navbar {
  background-color: rgb(31, 29, 40);
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

h1 {
  color: rgb(31, 29, 40);
}

.p-header {
  color: rgb(31, 29, 40);
}

.btn-outline-info {
  color: rgb(31, 29, 40)!important;
  border-color: rgb(31, 29, 40);
}

.btn-outline-info:hover {
  background-color: rgb(31, 29, 40);
  border-color: rgb(31, 29, 40);
  color: white !important;
}

.btn-info {
  background-color: rgb(31, 29, 40);
  border-color: rgb(31, 29, 40);
  color: white !important;
}

.btn-info:hover {
  background-color: rgb(52, 50, 60);
  border-color: rgb(52, 50, 60);
  color: white !important;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
